/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:50px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


*{
  -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*:focus {
  outline: none !important;
}

:root {
  touch-action: pan-x pan-y;
  height: 100% 
}