<!DOCTYPE html>
<html>
<head>
	{% load static %}
{% get_static_prefix as RES %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MSE22MZG8X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MSE22MZG8X');
</script>
	  <title>Jynx - About</title>
         
          <meta name="description" content="Know about the site and what to and what not to do here.." >
<meta name="google-adsense-account" content="ca-pub-5689772837818987">         
           <link rel="icon" type="image/x-icon" href="{{RES}}favicon.svg">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/css/uikit.min.css?version=2" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- UIkit JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ RES }}scrollbar.css">
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>

</head>
<body style="background-color: #FFFFFE;">


<!-- <button class="uk-icon uk-icon-button" uk-icon="chevron-double-right" type="button" uk-toggle="target: #offcanvas-push" style="position: absolute;top: 50%;border-radius: 0em 2em 2em 0em;background-color: #0E3D8B;color: #FFFFFE;scale: 1.5;z-index: 9999;" id="targetforclosingcanvasmenu"></button> -->
{% include "topnav.html"%}
<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar">
        {% include "sidenav.html" with notifications=notifications %}
    </div>
</div>
<div class="uk-section uk-section-default">
    <div class="uk-container uk-text-justify">

        <h2> What's JYNX?</h2>

        <blockquote>It's a whole new perspective on anonymity. We think anonymity should be an enjoyable and secure platform where you can freely express your thoughts and emotions without any embarrassment. Nowadays,  individuals lack a space where they can openly share their feelings without being judged by their peers or societal expectations. JYNX offers a safe haven for people to do just that.
    <footer>From, <cite><a href="{% url 'meetdevs' %}">The Developers</a></cite></footer>
</blockquote>
           
           <h3>Introduction 👋</h3>
           JYNX is a platform where individuals can freely express themselves and connect with their own audience. We have established guidelines to ensure the safety and enjoyment of all JYNX users. Please read our complete Terms of Service and Privacy Policy, as these guidelines are only a summary and not a replacement for the full terms.   



           <h3>How should I use JYNX? ✅</h3>
           <ol class="uk-list uk-list-bullet">
                           
            <li> Create Your Cards (Zigs):&nbsp;&nbsp;
            You will be responsible for crafting zigs, which are cards designed to facilitate open discussions about yourself or any topic of interest. These zigs will serve as a platform for your friends and the wider world to share their genuine opinions.</li>

            <li>Be REAL:&nbsp;&nbsp;
            Make sure to give complete, accurate, and up-to-date information when creating an account on JYNX! To ensure the best website experience for you and the JYNX community, it is important to be honest and genuine while using the website. Remember, providing incorrect information goes against our Terms of Service, so always be genuine and authentic when using JYNX!</li>

            <li>Be Yourself:&nbsp;&nbsp;
            When using JYNX, be sure to be you! Providing an inaccurate Instagram username may yield a faulty link for you and worsen your user experience. We don’t ask for your Instagram password or any other private information, so you and your user information are safe at JYNX. Check out our Privacy Policy for more information on this!</li>
           </ol>   


           <h3>So what’s not allowed on JYNX? ❌</h3>
           
            In order to keep the JYNX community safe, there are some forms of content that are not allowed on our platform, such as:

            Bullying, Harassment, Bigotry, Violence, or Threats :-     

            <ol class="uk-list uk-list-bullet">
                
                <li> Bullying and Harassment:

                    <br>

                    <ul class="uk-list uk-list-divider uk-margin-left">
                        <li> Refrain from sharing any content that may be considered as bullying, abuse, defamation, harassment, stalking, or targeted hate towards fellow users.</li>
                         <li>Avoid spreading unfounded gossip or harmful rumors without clearly stating that they are baseless.</li>
                        <li>Be mindful of using offensive or derogatory names or terms that may offend others.</li>
                    </ul>


                </li>

                  



                   <li> Fanatic :

                    <br>

                    Let's make sure we treat everyone with respect and kindness in the JYNX community. It's important to avoid hate speech, discrimination, stereotypes, and insensitive jokes based on race, age, ethnicity, gender identity, religion, sexual orientation, or disability. We want everyone to feel welcome here!


                </li>

                <li> Violence:

                    <br>

                    <ul class="uk-list uk-list-divider uk-margin-left">
                        <li> Please refrain from making threats or predicting acts of violence towards anyone.</li>
                         <li> It is important not to endorse or encourage suicide, self-harm, eating disorders, or any harmful beliefs towards others.</li>
                        <li>Avoid promoting or inciting any form of physical violence towards yourself or others.</li>
                        <li> Do not share information or strategies that could aid in carrying out harmful actions towards others.</li>
                        <li>Be mindful not to share excessively graphic portrayals of violence.
                        </li>
                    </ul>


                </li>

                <li> Trouble:


                    <br>

                    <ul class="uk-list uk-list-divider uk-margin-left">
                        <li> Please refrain from making any form of threat, whether it is direct, veiled, or vague, towards any other user on JYNX.</li>
                         <li>Avoid creating cybersecurity threats that may cause concern among other users.</li>
                        <li>It is important not to promote, threaten, describe, or publicize any acts of cruelty towards animals on JYNX.</li>
                        <li>JYNX should not be used to endorse, participate in, recruit for, or spread terrorism or violent extremism.</li>
                        <li>Remember, making death threats towards anyone, including yourself, is strictly prohibited on JYNX.</li>
                    </ul>
                    


                </li>





                <li> Spam:

                    <br>

                    <ul class="uk-list uk-list-divider uk-margin-left">
                        <li>Don’t submit the same content multiple times.</li>
                         <li> Don’t flood a user’s inbox unnecessarily.</li>
                      
                    </ul>


                </li>
                <li>  Trolling:

                    <br>

                    <ul class="uk-list uk-list-divider uk-margin-left">
                        <li>Avoid using JYNX as a tool to provoke conflicts, foster hostility, or initiate arguments.</li>
                         <li>Refrain from posting with the intention of deceiving, embarrassing, or engaging in arguments with others.</li>
                       
                    </ul>


                </li>







                <li>  Spread false information:

                    <br>

                    <ul class="uk-list uk-list-divider uk-margin-left">
                        <li>Avoid using JYNX to hinder or interfere with justice.</li>
                         <li>Avoid using JYNX to hinder participation in elections or any other civic duty.</li>
                        <li>Avoid using JYNX to mislead or deceive others about elections or political processes.</li>
                        <li>Avoid impersonating someone else to misguide or confuse others, or to endorse or incite violence.</li>
                        <li>Refrain from knowingly sharing fake news or falsehoods.</li>
                    </ul>


                </li>





                <li> Promotion:

                    <br>

                    <ul class="uk-list uk-list-divider uk-margin-left">
                        <li>Avoid sharing any unauthorized promotional content, such as 'junk mail', 'chain letters', 'pyramid schemes', or any kind of solicitation with the intention of making money or growing your brand.</li>
                         <li>Do not promote or try to gather funds for violent organizations, hate groups, illegal products or services, or any unauthorized or criminal entities.</li>
                        <li>Refrain from excessively promoting your own or other's personal or commercial social media accounts, businesses, or organizations.</li>
                        <li>Please do not make false claims about having a connection with JYNX or stating that JYNX supports you or your products or services.</li>
                    </ul>


                </li>
               
             
                


            </ol>

            <h3>About Explicit Content</h3>

            <ol class="uk-list uk-list-bullet"> 
                
               <!--  <li>
                   Sexual Harassment:
                   <br>
                   <ul class="uk-list uk-list-striped uk-margin-left">
                       <li></li>
                       <li></li>
                       <li></li>
                       <li></li>
                       <li></li>
                   </ul>     
                </li> -->

                <li>
                   Sexual Harassment:
                   <br>
                   <ul class="uk-list uk-list-striped uk-margin-left">
                       <li>Avoid sharing or discussing any sexual acts without clear consent.</li>
                       <li>Refrain from using sexual content or information about someone's sexual history or behavior to threaten, coerce, blackmail, or harm them.</li>
                       <li>Do not spread false information, expose personal details, defame, or damage someone's reputation using sexual content.</li>
                       <li>Say no to promoting, endorsing, or engaging in any form of sexual violence.</li>
                       
                   </ul>     
                </li>


 

                <li>
                  Seeking Intimacy:
                   <br>
                   <ul class="uk-list uk-list-striped uk-margin-left">
                       <li>Avoid pressuring anyone into engaging in sexual activities.</li>
                       <li>Refrain from requesting or offering sexual acts, and don't anticipate any form of payment or reciprocation for inappropriate demands.</li>
                       <li>Avoid exchanging or searching for contact details solely for the purpose of pursuing sexual encounters.</li>
                      
                   </ul>     
                </li>


                <li>
                   Protecting Minors from Sexualization:
                   <br>
                   <ul class="uk-list uk-list-striped uk-margin-left">
                       <li>Avoid having any sexual discussions or engaging in inappropriate activities with minors on JYNX or any other platform.</li>
                       
                       <li>Refrain from posting, sharing, or discussing any content on JYNX that involves sexualizing children.</li>
                      
                   </ul>     
                </li>


            </ol>

            <h3>What if I see someone violate these guidelines? ⚠️</h3>
            Messages may slip through from time to time. Here are some steps you can take if you see a message in violation of our Community Guidelines:
            <ul class="uk-list uk-list-bullet">
                <li> Let us know: &nbsp;&nbsp;If you come across any message that involves Bullying or Harassment, Spam, or simply something you don't like, you can easily report it by tapping on the Report button in our app. In case you feel that a message requires urgent attention from our Support team, feel free to drop us an email at (EXAMPLE - safety@jynxapp.com).</li>
                <li>Need assistance? &nbsp;&nbsp;Words can be just as painful as physical harm! If you're going through a tough time because of your JYNX encounter, don't hesitate to reach out to a qualified mental health expert for support. If you're looking for helpful resources, our guide on Staying safe on JYNX provides a list of different organizations that are available and eager to assist you.</li>
            </ul>


            We have the authority to remove any messages that violate our Community Guidelines at any time. If users repeatedly break the rules or commit serious offenses, they may be banned from using JYNX. If our team detects any illegal or criminal activity, we will report it to the appropriate authorities, providing them with any relevant information about the user involved. Please note that our Community Guidelines can be updated at any time to incorporate new policies, and these updates take effect immediately upon publication.
            <br>


            In the end, JYNX was created because we truly believe that Gen-Z should have a platform where they can freely express their genuine thoughts, emotions, and feelings without worrying about bullying, criticism, or societal expectations. However, it's important to remember that anonymity also comes with a sense of responsibility. So, let's always be respectful and treat others the way we want to be treated.

<br><br>
<h4 class="uk-text-right">With ❤️ from Team JYNX</h4>
    </div>
</div>


 




















{% include 'staticfooter.html' %}





</body>
</html>
