<!DOCTYPE html>
<html>
<head>
  {% load static %}
{% get_static_prefix as RES %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/css/uikit.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ RES }}scrollbar.css">
<meta name="google-adsense-account" content="ca-pub-5689772837818987">
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>
  <title>Jynx - Reset Password</title>
     
       
         <link rel="icon" type="image/x-icon" href="{{RES}}favicon.svg">

</head>
<body style="background-color: #FFFFFE;">

<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-scale-up" uk-height-viewport>
  <div class="uk-width-1-1">
    <div class="uk-container">
      <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
          <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
            <h3 class="uk-card-title uk-text-center">Reset Password</h3>
            <form action='{% url "resetpass" %}' method="post" name="reset_form">
             {%csrf_token%}
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: mail"></span>
                  <input class="uk-input uk-form-large"  type="email" placeholder="Email" required name="email" id="id_email"> 
                </div>
              </div>

              <!-- <div class="uk-margin" style="display: none;">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: thumbnails"></span>
                  <input class="uk-input uk-form-large"  type="number" placeholder="Code" required name="code" id="code"> 
                </div>
              </div> -->
              
              <div class="uk-margin">
                <button class="uk-button uk-button-secondary uk-button-large uk-width-1-1"  type="submit" value="reset">Reset</button>
              </div>
             
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
