<!DOCTYPE html>
<html>
<head>
	{% load static %}
{% get_static_prefix as RES %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MSE22MZG8X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MSE22MZG8X');
</script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/css/uikit.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jynx - Manage Account</title>
<meta name="google-adsense-account" content="ca-pub-5689772837818987">		 
  		
  		   <link rel="icon" type="image/x-icon" href="{{RES}}favicon.svg">

<!-- UIkit JS -->
<link rel="stylesheet" type="text/css" href="{{ RES }}scrollbar.css">
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>
<style type="text/css">
    html,body{
    overflow-x: hidden;
}
</style>
</head>
<body style="background-color: #FFFFFE;width: auto;">

{% include "topnav.html" %}


<!-- <button class="uk-icon uk-icon-button" uk-icon="chevron-double-right" type="button" uk-toggle="target: #offcanvas-push" style="position: absolute;top: 50%;border-radius: 0em 2em 2em 0em;background-color: #0E3D8B;color: #FFFFFE;scale: 1.5;z-index: 9999;" id="targetforclosingcanvasmenu"></button> -->

       <div class="uk-margin-small uk-margin-small-left uk-width-expand uk-grid uk-grid-small" uk-grid>
                    <div class="uk-card uk-margin-small-left uk-card-default uk-width-1-5 uk-visible@m uk-animation-slide-left" style="height:90%;border-radius: 20px;" >
                        <h3 class="uk-width-expand uk-text-center">Settings</h3>
                        <ul class="uk-list uk-list-divider uk-margin-small-bottom">

                                 <li><span  uk-icon="icon: user"></span><a href="{% url 'settings' %}" class="uk-text-middle " style="text-decoration:none;">&nbsp;Edit Profile</a></li>
                                    <li><span uk-icon="icon: eye"></span><a  href="{% url 'settingsMyzigs' %}" class="uk-text-middle " style="text-decoration:none;">&nbsp;Zigs settings</a></li>
                                   
                                    <li><span uk-icon="icon: bell"></span><a  href="{% url 'settingsNotifications' %}" class="uk-text-middle " style="text-decoration:none;">&nbsp;Notifications</a></li>
                                    <li><span uk-icon="icon: database"></span><a href="{% url 'settingsAccount' %}" class="uk-text-middle " style="text-decoration:none;">&nbsp;Account Control</a></li>
                             
                                    <li><span  uk-icon="icon: world"></span><a href="{% url 'about' %}" class="uk-text-middle " style="text-decoration:none;">&nbsp;What is it about?</a></li>
</ul>
                    </div>


    <div class="uk-width-expand uk-padding-small">
        <div class="uk-width-expand  uk-animation-slide-right">

        	<h2 class="uk-padding-remove uk-margin-small-bottom">Account Control</h2>
    
        	<div class="uk-grid uk-grid-small uk-child-width-1-2@m">        		
        		<div class=" uk-text-left uk-width-expand uk-padding-small">
        		

        			


        <div class="uk-margin">
        	<div style="font-size:x-large;">Password Reset&nbsp;&nbsp;</div>


         	<button class="uk-button uk-margin uk-width-expand@s uk-width-1-3@m uk-button-default" uk-toggle="target: #Password_reset_modal" style="border-radius: 50px;font-weight: bolder;border:solid #666 2px;">RESET</button>


<div id="Password_reset_modal" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h2 class="uk-modal-title uk-text-center">Reset Password</h2>
        </div>

        <div class="uk-modal-body">

        	 
              
             <h3>Enter Current Password</h3>
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: grid"></span>
                  <input class="uk-input uk-form-large" id='old_pwd' type="password" placeholder="Password" required name="password"> 
                </div>
              </div>


               <h3 class="uk-margin-small uk-padding-remove">Enter New Password</h3>
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: lock"></span>
                  <input class="uk-input uk-form-large" id='new_pwd' type="password" placeholder=" New Password" required name="password"> 
                </div>
              </div>

              <div class="uk-margin">
                <button class="uk-button uk-button-secondary uk-button-large uk-width-1-1" onclick='reset_pwd()'>Reset</button>
              </div>
			  
              <div class="uk-text-small uk-text-center uk-text-danger" id='error_msg' style="display:none;">
                Incorrect combination
              </div>
			  
             
            
        
          </div>

    </div>
</div>
        </div>  			
        		</div>
        	</div>

        		<div class="uk-grid uk-grid-small uk-child-width-1-2@m">        		
        		<div class=" uk-text-left uk-width-expand uk-padding-small">
        		

        			


        <div class="uk-margin">
        	<div style="font-size:x-large;">Accoount Deletion&nbsp;&nbsp;</div>


         	<button class="uk-button uk-margin uk-width-expand@s uk-width-1-3@m uk-button-danger" uk-toggle="target: #Account_delete_modal" >DELETE</button>


<div id="Account_delete_modal" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h2 class="uk-modal-title uk-text-center">Are you sure you want to delete your account?</h2>
        </div>

        <div class="uk-modal-body">
        	    <button class="uk-button uk-button-primary uk-modal-close" type="button ">Cancel</button>
				            <button class="uk-button uk-button-danger "  type="button" onclick='acc_delete()'>Yes</button>
        
          </div>

    </div>
</div>








        </div>




        		
        		
        			
        		</div>
        		



        	</div>
        	
        	
           

        </div>
    </div>
</div>

<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar">
    	{% include "sidenav.html" with notifications=notifications %}
    </div>
</div>




<script>
    function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = cookies[i].trim();
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
    function reset_pwd() {
      
				var csrftoken = getCookie('csrftoken');
				var current_pwd=document.getElementById('old_pwd').value
				var new_pwd=document.getElementById('new_pwd').value
				var formData = new FormData();
				formData.append('form_function', 'reset_pwd')
				formData.append('current_pwd', current_pwd)
				formData.append('new_pwd', new_pwd)
				
				$.ajax({
					headers: {
						'X-CSRFToken': csrftoken  
					},
					url: "{% url 'settingsAccount' %}",
					type: 'POST',
                    processData: false,
					contentType: false,
					data: formData,
					success: function (response) {

						if(response == 'not same'){
							document.getElementById('error_msg').style.display='block'
						}
						else{
							window.location = "{% url 'login' %}";
						}
					},
					error: function (error) {
						
					}
				});

			}
		function acc_delete(){
				var csrftoken = getCookie('csrftoken');
				var formData = new FormData();
				formData.append('form_function', 'delete_account')
				$.ajax({
					headers: {
						'X-CSRFToken': csrftoken  
					},
					url: "{% url 'settingsAccount' %}",
					type: 'POST',
                    processData: false,
					contentType: false,
					data: formData,
					success: function (response) {

						if(response == 'not same'){
							document.getElementById('error_msg').style.display='block'
						}
						else{
							window.location = "{% url 'landing' %}";
						}
					},
					error: function (error) {
						
					}
				});
}
</script>

<script type="text/javascript">
// 	UIkit.util.on('#offcanvas-push', 'show', function () {
//     document.getElementById("targetforclosingcanvasmenu").style.display ="none";
// });
// 	UIkit.util.on('#offcanvas-push', 'hide', function () {
// 		setTimeout(function(){
//    			 document.getElementById("targetforclosingcanvasmenu").style.display ="block";
// 		}, 300);
   

// });
</script>
</body>
</html>
