<!DOCTYPE html>
<html>
<head>
	{% load static %}
{% get_static_prefix as RES %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MSE22MZG8X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MSE22MZG8X');
</script>
		  <title>Jynx</title>
         
       
           <link rel="icon" type="image/x-icon" href="{{RES}}favicon.svg">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/css/uikit.min.css" />
<link rel="stylesheet" type="text/css" href="{{ RES }}scrollbar.css">
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>
<style type="text/css">
    html,body{
    overflow-x: hidden;
}
</style>
</head>
<body style="background-color: #FFFFFE;">

{% include "topnav.html" %}


<!-- <button class="uk-icon uk-icon-button" uk-icon="chevron-double-right" type="button" uk-toggle="target: #offcanvas-push" style="position: absolute;top: 50%;border-radius: 0em 2em 2em 0em;background-color: #0E3D8B;color: #FFFFFE;scale: 1.5;z-index: 9999;" id="targetforclosingcanvasmenu"></button> -->
<div class="uk-margin-small ">
<div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
    <div class="uk-width-1-4 uk-visible@l uk-animation-slide-left" style=" display: table;">
        <div class="uk-card uk-card-default uk-card-body " style="display: table-cell;vertical-align: middle;">





               
                <div class="uk-width-expand ">




                   <ul class="uk-nav uk-nav-primary uk-position-top uk-padding-small    ">                        
                        <li class="uk-nav-header"><h4 class="uk-margin-remove">Navigation</h4></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="{% url 'settings' %}"><span class="uk-margin-small-right" uk-icon="icon: user"></span>Profile</a></li>

                        <li><a href="{% url 'settingsMyzigs' %}"><span class="uk-margin-small-right" uk-icon="icon: eye"></span>Zigs</a></li>
                        <li><a href="{% url 'settingsNotifications' %}"><span class="uk-margin-small-right" uk-icon="icon: bell"></span>Notification</a></li>
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: link"></span>Socials</a></li>
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: world"></span>About</a></li>
                        <li><a href="{% url 'meetdevs' %}"><span class="uk-margin-small-right" uk-icon="icon: git-branch"></span>Meet the developers</a></li>
                        <li  class="uk-active"><a href="#"><span class="uk-margin-small-right" uk-icon="icon: question"></span>Help</a></li>
          

                        
                    </ul>



                        
                    </ul>




                </div>
                        
      

        </div>
    </div>


    <div style="display: table;">
        <div class="uk-card uk-card-default uk-card-body  uk-animation-slide-right  uk-margin-remove">
    
        			
        		<div class=" uk-text-left uk-width-expand uk-height-max-large uk-overflow-auto uk-padding-small">
        		

        			




                    <h2>dsg sdgjsd sdjg sdjk gsdj </h2>
                    <div class="uk-panel uk-text-break">Lorem ipsum dolors it amet ,consectetura dipiscingelit ,seddoeiusmodt     tutlabore  e doloremagn  aali qua.</div>
                    <div class="uk-placeholder uk-text-center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</div>
                    jksdng ggsd bsdk ssd vbgsdklb sdkgbsdfk b ksdf bsfm bdfml bfmkl fmklb sdfmlb fmlsd bls bsl bmlfd blf bm,ldf  sdlv sdkl gkl vlsd sdkl ds,l gsdgsd,l g,l\

                    <h2>dsg sdgjsd sdjg sdjk gsdj </h2>
                    <div class="uk-panel uk-text-break">Lorem ipsum dolors it amet ,consectetura dipiscingelit ,seddoeiusmodt     tutlabore  e doloremagn  aali qua.</div>
                    <div class="uk-placeholder uk-text-center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</div>
                    jksdng ggsd bsdk ssd vbgsdklb sdkgbsdfk b ksdf bsfm bdfml bfmkl fmklb sdfmlb fmlsd bls bsl bmlfd blf bm,ldf  sdlv sdkl gkl vlsd sdkl ds,l gsdgsd,l g,l

                    <h2>dsg sdgjsd sdjg sdjk gsdj </h2>
                    <div class="uk-panel uk-text-break">Lorem ipsum dolors it amet ,consectetura dipiscingelit ,seddoeiusmodt     tutlabore  e doloremagn  aali qua.</div>
                    <div class="uk-placeholder uk-text-center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</div>
                    jksdng ggsd bsdk ssd vbgsdklb sdkgbsdfk b ksdf bsfm bdfml bfmkl fmklb sdfmlb fmlsd bls bsl bmlfd blf bm,ldf  sdlv sdkl gkl vlsd sdkl ds,l gsdgsd,l g,l

                    <h2>dsg sdgjsd sdjg sdjk gsdj </h2>
                    <div class="uk-panel uk-text-break">Lorem ipsum dolors it amet ,consectetura dipiscingelit ,seddoeiusmodt     tutlabore  e doloremagn  aali qua.</div>
                    <div class="uk-placeholder uk-text-center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</div>
                    jksdng ggsd bsdk ssd vbgsdklb sdkgbsdfk b ksdf bsfm bdfml bfmkl fmklb sdfmlb fmlsd bls bsl bmlfd blf bm,ldf  sdlv sdkl gkl vlsd sdkl ds,l gsdgsd,l g,l

                    </div>





        			<div>
        				
        		
        	
        		



        	</div>
        	
        	

        	

        </div>
    </div>
</div>
</div>
<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar">
    	{% include "sidenav.html" with notifications=notifications %}
    </div>
</div>






















<script type="text/javascript">
// 	UIkit.util.on('#offcanvas-push', 'show', function () {
//     document.getElementById("targetforclosingcanvasmenu").style.display ="none";
// });
// 	UIkit.util.on('#offcanvas-push', 'hide', function () {
// 		setTimeout(function(){
//    			 document.getElementById("targetforclosingcanvasmenu").style.display ="block";
// 		}, 300);
   

// });
</script>
</body>
</html>