<div class="uk-section uk-section-muted">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-3@s" uk-grid>
            <div>
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-text-large uk-active"><a>About</a></li>
                    <li><a href="{% url 'meetdevs' %}">Meet the developpers</a></li>
                    <li><a  href="{% url 'about' %}">What is it about</a></li>
                </ul>
            </div>
            <div>
                <ul class="uk-nav uk-nav-default">
                 <li class="uk-text-large uk-active"><a href="#">Assistance</a></li>
        
                    <li><a href="{% url 'contact' %}">Feedback / Bug Report / Inquiry</a></li>
                   </ul>
            </div>
            <div>
                 <ul class="uk-nav uk-nav-default">
                    <li class="uk-text-large uk-active"><a href="#">Legal</a></li>
                    <li><a href="{% url 'privacypolicy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'tandc' %}">Terms and Conditions</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

