<!DOCTYPE html>
<html>
<head>
	{% load static %}
{% get_static_prefix as RES %}
	  <title>Jynx - Terms and Conditions</title>
		 
  		  <meta name="description" content="Terms and Conditons for Jynx" >
<meta name="google-adsense-account" content="ca-pub-5689772837818987">  		  
  		   <link rel="icon" type="image/x-icon" href="{{RES}}favicon.svg">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/css/uikit.min.css?version=2" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- UIkit JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ RES }}scrollbar.css">
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>

</head>
<body style="background-color: #FFFFFE;">


<!-- <button class="uk-icon uk-icon-button" uk-icon="chevron-double-right" type="button" uk-toggle="target: #offcanvas-push" style="position: absolute;top: 50%;border-radius: 0em 2em 2em 0em;background-color: #0E3D8B;color: #FFFFFE;scale: 1.5;z-index: 9999;" id="targetforclosingcanvasmenu"></button> -->

{% include "topnav.html"%}
<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
	<div class="uk-offcanvas-bar">
		{% include "sidenav.html" with notifications=notifications %}
	</div>
</div>
<div class="uk-section uk-section-muted">
    <div class="uk-container uk-text-justify">

       <h3>Terms of Service<p class="uk-text-meta">
Last Updated: December 16, 2023
</p></h3>
<p>
    These Terms and Conditions govern the utilization of Our Service, serving as the covenant between You and the Company. Every user is subject to the entitlements and duties delineated in these Terms and Conditions.
</p>
<p>
Your access and use of the Service are contingent upon Your acknowledgment and adherence to these Terms and Conditions, applying universally to all visitors, users, and others who access or use the Service.

Upon accessing or using the Service, You explicitly agree to be bound by these Terms and Conditions. Should any facet of these Terms and Conditions prove objectionable, refrain from accessing the Service.
</p>
<p>
You affirm that You are above the age of 14. Individuals under 14 are not permitted by the Company to utilize the Service.

Access to and use of the Service are additionally subject to Your acceptance and compliance with the Company's Privacy Policy. It is incumbent upon You to meticulously peruse Our Privacy Policy prior to utilizing Our Service.
</p>

<h4>On-website Purchases

</h4>

The Website may facilitate On-website Purchases, providing an avenue for the acquisition of products, services, or subscriptions. Guidance on managing In Purchases with your Device is elucidated in your Device's Help settings.

On-website Purchases are constrained to utilization within the Website. Once initiated, downloads of On-website Purchases are irrevocable. These transactions are non-refundable and non-transferable.

Should any On-website Purchase encounter anomalies, a comprehensive inquiry will be undertaken, and, if deemed necessary, a substitute or corrective measure will be implemented. Any applicable refunds shall be administered through the Application Store.

The intricacies of billing and transaction processes for On-website Purchases are administered by the Payment Gateway, subject to its stipulated terms and conditions.
<br><br>
For issues germane to payments in relation to On-website Purchases, direct correspondence with the helpline email is imperative jynx8431@gmail.com.




<h4>User Accounts
</h4>

When procuring an account, furnish accurate, comprehensive, and current information. The neglect to adhere to this mandate constitutes a breach of the Terms, thereby warranting immediate account termination.

Safeguard Your password diligently. You bear sole responsibility for all activities transpiring under Your password, whether with Our Service or a Third-Party Social Media Service.

Disclosure of Your password to third parties is strictly proscribed. Immediate notification is incumbent upon You in the event of any security breach or unauthorized account access.




<h4>Content
</h4>

Your Right to Post Content: The framework of Our Service extends the privilege to You to disseminate Content, of which You retain ownership rights. By availing Yourself of this privilege, You grant Us a license to utilize, modify, and disseminate such Content on the Service.

Content Restrictions: Sole responsibility for Your Content rests with You. The prohibition extends to Content deemed unlawful, offensive, or detrimental. The Company reserves the prerogative to arbitrate appropriateness and compliance.

Content Backups: Despite periodic backups, we do not proffer guarantees against data loss or corruption. It is incumbent upon You to maintain an autonomous copy of Your Content.


<h4>Intellectual Property Infringement</h4>
The Company upholds the sanctity of intellectual property rights. In the event of Content allegedly infringing on copyright, please direct correspondence to our copyright agent via email at jynx8431@gmail.com.


<h4>Limitation of Liability</h4>
The Company's liability is circumscribed to the monetary value transacted through the Service or $100 in instances of non-purchases. To the extent permissible by law, neither the Company nor its suppliers assume liability for incidental, indirect, or consequential damages.






<h4>"AS IS" and "AS AVAILABLE" Disclaimer</h4>
The Service is disseminated "AS IS" and "AS AVAILABLE" without warranties. The Company explicitly disclaims all warranties, whether express or implied.
 




<h4>Governing Law and Disputes Resolution</h4>
These Terms are governed by the laws of the Country. Resolution of disputes is encouraged through informal means, contacting the Company as a precursor.




<h4>Severability and Waiver</h4>
<p>Severability: Provisions deemed unenforceable shall undergo interpretation to effectuate their objectives, while residual provisions endure.</p>

<p>Waiver: The non-exercise of a right or non-enforcement of an obligation under these Terms does not impede future exercises or enforcement. Waiver of a breach does not presage waiver of subsequent breaches.</p>

    
<h4>Translation Interpretation</h4>


In scenarios of translation incongruities, the original English text takes precedence.

<h4>Changes to These Terms and Conditions</h4>


Reserved in Our purview is the prerogative to effect modifications to these Terms. Noteworthy alterations will be communicated 30 days in advance. Persevered use following revisions attests to acceptance.

<div class="uk-text-right">
<h4 >Contact Us</h4>

For inquiries pertaining to these Terms and Conditions, reach out to us:
By email: jynx8431@gmail.com
</div>


    </div>




</div>






{% include 'staticfooter.html' %}





</body>
</html>
